
	<div class="container"> 
			<div class="subHeading">
				<h2> Great recipies, crowd-edited & upvoted to perfection!</h2>
				<h3> {{ helloWorld }} </h3>
			</div>

			<div class="postbkg" ng-repeat="post in posts | orderBy: '-upvotes'">  <!--Sort Descending by upvotes --> 
				<div class="recipeContainer">
						<h3>{{post.title}} </h3>
						<p> {{post.maining}}</p>
						<p>
							<i class="fa fa-thumbs-up" ng-click="upVote(post)"></i>
						 Upvotes: {{post.upvotes}}
						</p> 

						<a href="#/suggestion/{{post.suggestionId}}">Comments</a>

						<!-- <a href="#/suggestion/{{$index}}">Comments</a>-->
				</div>
			</div>

			<form ng-submit="addSuggestion()" style="margin-top: 50px">
				<h3> Add a suggested Recipie </h3>
				<p> If enough people up-vote it, we'll add it to our list! </p>
				<div class="form-group">
					<input type="text" class="suggested-recipe" placeholder="Great ideas here" ng-model="post.title"></input>
					<input type="text" class="suggested-recipe" placeholder="Main Ingredients here (separate each with a comma!)" ng-model="post.maining"></input>
				</div>
				<button type="submit" class="btn btn-primary">Suggest</button>
			</form>
	</div>
