		<div class="postbkg"> 
				<div class="recipeContainer">
						<h3>{{suggestionPosts.title}} </h3>
						<p> {{suggestionPosts.maining}}</p>
						<p>
							<i class="fa fa-thumbs-up"></i>
						 Upvotes: {{suggestionPosts.upvotes}}
						</p> 
						<p>See comments for this recipe:</p> 
				</div>

				<div class="recipeContainer" ng-repeat="comment in suggestionPosts.comments">
					<p>{{comment.body}}</p>
					<p>
						<span class="glyphicon glyphicon-plus-sign"
ng-click="upVote(comment)"></span>
    Comment Upvotes: {{comment.upvotes}}
					</p>

			</div>


			<!--Suggestions.html -->

		<!-- Display the recipe at the top of the page -->



<!-- <h1 class="page-title"><em>{{post.title}}</em></h1>
<hr>
<div class="comment" ng-repeat="comment in post.comments | orderBy:'-upvotes'">
    <span class="glyphicon glyphicon-plus-sign"
ng-click="upVote(comment)"></span>
    {{comment.upvotes}}
    <span class="comment-body">
      {{comment.body}}
    </span>
  </div>
<!-- post template -->
<!--  <form ng-submit="addComment()"
style="margin-top:30px;">
    <h3>Add a new comment</h3>
    <div class="form-group">
      <input type="text"
class="form-control"
placeholder="Comment"
ng-model="body"></input>
    </div>
    <button type="submit" class="btn btn-primary">Comment</button>
  </form> -->